<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Radio Playlist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <style>
        .datatable img {
            max-width: 100px; /* You can adjust the size of the images as required */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">NDR Kultur Playlist</h1>
        <table id="trackTable" class="display datatable">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Title</th>
                    <th>Movement</th>
                    <th>Composer</th>
                    <th>Full Title</th>
                    <th>Image</th>
                    <th>Catalog Number</th>
                    <th>Conductor</th>
                    <th>Orchestra</th>
                    <th>Solist</th>
                    <th>Album</th>
                    <th>Ensemble</th>
                    <th>EAN</th>
                    <th>Choir</th>
                </tr>
            </thead>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#trackTable').DataTable({
                "processing": true,
                "serverSide": false,
                "ajax": {
                    "url": "/data",
                    "type": "GET"
                },
                "columns": [
                    {"data": "timestamp"},
                    {"data": "title"},
                    {"data": "movement"},
                    {"data": "composer"},
                    {"data": "full_title"},
                    {"data": "image_link", "render": function(data, type, row) {
                        if (data) {
                            var largeImageLink = data.replace('_300x300.jpg', '_600x600.jpg');
                            return '<a href="' + largeImageLink + '"> <img src="' + data + '" alt="Cover"> </a>';
                        } else {
                            return '';
                        }
                    }},
                    {"data": "catalog_number"},
                    {"data": "conductor"},
                    {"data": "orchestra"},
                    {"data": "solist"},
                    {"data": "album"},
                    {"data": "ensemble"},
                    {"data": "ean"},
                    {"data": "choir"}
                ]
            });
        });
    </script>
</body>
</html>
